@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
body {
	margin: 0;
	height: 100vh;
	background: black;
	cursor: none;
	font-family: 'Spartan', sans-serif;
}
canvas {
	margin: auto;
	touch-action: none;
}

#container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	canvas {
		height: 100%;
		position: fixed;
		z-index: -1;
	}
	h1 {
		color: rgba(255, 255, 255, 0.01);
		filter: hue-rotate(0deg);
		font-size: 15em;
		margin: 0;
		animation: rotate 8s infinite;
		transition: color 0.9s ease;
		&:hover {
			color: rgba(255, 255, 255, 0.7);
		}
	}
}

@keyframes rotate {
	0% {
		filter: hue-rotate(0deg);
	}
	50% {
		filter: hue-rotate(180deg);
	}
	100% {
		filter: hue-rotate(0deg);
	}
}
