.meme-container {
	overflow: hidden;
	height: 100vh;
	background-color: #ffa69e;
	animation: hue 8s linear 0s infinite reverse;
	cursor: none;
	.container-fluid {
		position: relative;
		display: flex;
		height: 100%;
	}

	&::before {
		background: linear-gradient(105deg, rgba(255, 190, 0, 0), #ffbe00);
		animation: hue 12s linear 1s infinite;
	}
}

.doge {
	position: absolute;
	width: 150px;
	height: 150px;
	left: -100px;
	cursor: none;
	pointer-events: none;
}

canvas {
	z-index: 9999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	object-fit: contain;
	animation: move 5s linear infinite reverse;
}

@keyframes hue {
	to {
		filter: hue-rotate(1turn);
	}
}

@keyframes move {
	0% {
		top: 0%;
		left: 0%;
	}
	50% {
		top: 100%;
		left: 100%;
	}
	100% {
		top: 0%;
		left: 0%;
	}
}
